In [1]:
# TODO: Make a multi-line comment that includes your name, the assignment name, and due date
'''
Steven Sommer 
CS405 Lab1  
Sep 8, 2023
'''

'\nSteven Sommer \nCS405 Lab1  \nSep 8, 2023\n'

In [2]:
# TODO: Create a list to hold a bunch of integers
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [3]:
# TODO: Add even integers between 6 and 100 (inclusive) to the list
for i in range(6, 101, 2):
    my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [4]:
# TODO: Display the first 10 items of your list
for i in my_list[:10]:
    print(i)

1
2
3
4
5
6
8
10
12
14

In [12]:
# TODO: Open the titanic.csv file for reading
import pandas as pd
import os
df = pd.read_csv('titanic.csv')

print(df)

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

In [13]:
# TODO: Print all the info for the first 10 passengers on the roster

print(df[:10])

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen
5         0       3                                    Mr. James Moran
6         0       1                             Mr. Timothy J McCarthy
7         0       3                      Master. Gosta Leonard Palsson
8         1       3   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9         1       2                 Mrs. Nicholas (Adele Achem) Nasser

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500
5    male  27.0                        0                        0   8.4583
6    male  54.0                        0                        0  51.8625
7    male   2.0                        3                        1  21.0750
8  female  27.0                        0                        2  11.1333
9  female  14.0                        1                        0  30.0708

In [17]:
# TODO: Find the number of people who survived
#fn.seek(0)
print(sum(df["Survived"]))

342

In [24]:
# TODO: Find the number of males who perished
#fin.seek(0)
sum(1 for (sex, survived) in zip(df["Sex"], df["Survived"]) if sex == "male" and survived == 1)

109

In [29]:
# TODO: Find the TOTAL number of males aboard
print(sum(1 for i in df["Sex"] if i == "male"))

573

In [33]:
# TODO: Find the average ticket cost. Try breaking your code into multiple cells.
print(sum(df['Fare']/len(df["Fare"])))

# fin.seek(0)
# fin.readline()
# ticketCosts = []

# HINT: Do a for-loop here

32.305420180383386

In [11]:
# TODO: Come up with one more interesting fact you can deduce from the dataset (i.e., across multiple passengers).
#       Write a Python statement that finds and prints it. 
#       Also leave at least one single-line comment that explains what you're doing.

In [39]:
# Finding the number of possible spouses
marriagable_of_gender = lambda g: (sum(1 for sex,age in zip(df["Sex"], df["Age"]) if age > 18 and sex == g))
min(marriagable_of_gender("male"), marriagable_of_gender("female"))

234